@charset "UTF-8";

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

a {
    text-decoration: none;
}

div.loginbox {
    width: 20%;
    height: 300px;
    background-color: #4773ff;
    margin: 0 auto;
    background-color: rgba(40, 40, 40, 0.3);
    border-radius: 10px;

}

h1 {
    text-align: center;
}

.title {
    color: white;
    text-align: center;
}

.subtitle {
    color: white;
    text-align: center;
    padding: 30px 0;
}

p .register {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.register_move {
    color: white;
    text-align: center;
}

form,
input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
    height: 30%;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;

}

input[value="LOGIN"] {
    display: block;
    text-align: center;
    width: 40%;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: none;
    margin: 10px auto;
    position: relative;
    left: 35px;
}

/*REGISTER*/

input[value="REGISTER"] {
    display: block;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    position: relative;
    left: 35px;
}

#clear {
    display: block;
    text-align: center;
    width: 20%;
    height: 300px;
    background-color: #4773ff;
    margin: 0 auto;
    background-color: rgba(40, 40, 40, 0.3);
    border-radius: 10px;
}

p.added_name {
    font-size: 200%;
    font-family: "Droid Sans";
    color: #FFF;
}

p.added_subtitle {
    font-size: 180%;
    font-family: "Droid Sans";
    margin-bottom: 50px;
    color: #FFF;
}

p.added_p {
    font-size: 140%;
    color: #FFF;
}

.added_btn {
    display: block;
    width: 30%;
    padding: 15px 0;
    margin: auto;
    background: red;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
